<div class='add-contact'>
  <h2>
    <%= t('contacts') %>
  </h2>
  <%= link_to t('add_contact'), new_contact_path, class: 'a-button'%>
</div>
<%= render 'search' %>
<table class='contacts'>
  <tbody>
    <%= render @contacts %>
  </tbody>
</table>

