// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: black;
}

.card {
  background-color: white;
  border-style: groove;
  border-color: white;
  padding: 1rem;
  margin: -1px;
  display: flex;
  justify-content: space-between;

  .info {
    display: block;
    color: gray;
  }

  .fa-trash-alt{
    content: "\f2ed";
    background-color: #d34f4f;
    padding: 0.7rem;
    border-radius: 0.2rem;
    color: white;
    height: fit-content;
  }
}

.icon-button {
    // padding-inline-end: 3rem;


    .fas {
        // position: absolute;
        z-index: 1;
    }

    .button-icon {
        position: absolute;
        padding: 0.7rem;
        border-radius: 0.2rem;
        height: fit-content;
        opacity: 0;
        z-index: 2;
    }
}

input[type='text' i] {
    outline: 0;
    background-color: #f9f9f9;
    border-width: 0 0 2px;
    border-color: darkgrey;
    border-bottom-width: thin;
    border-radius: 0.15rem;
    width: 100%;
    max-width: 13rem;
    height: 1.5rem;
    padding-inline: 0.45rem;
}

input[type='submit' i] {
    background-color: dodgerblue;
    padding: 0.6rem;
    padding-inline: 2rem;
    border-style: none;
    border-radius: 0.2rem;
    color: white;
    text-decoration: none;
}

.add-contact {
  input[type='submit' i] {
    margin: 1rem;    
  }
}
form {
    // margin-top: 3rem;
    // width: 19rem;
    // align-items: center;
}

.field {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
}

::placeholder {
  color: gray;
  opacity: 0.25;
}

a {
    background-color: red;
    padding: 0.6rem;
    padding-inline: 2rem;
    border-radius: 0.2rem;
    color: white;
    text-decoration: none;
    margin: 1rem;
}
